@font-face {
  font-family: 'Montserrat';
  src: url(/assets/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(/assets/Montserrat-Medium.ttf);
  font-display: auto;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url(/assets/Montserrat-Bold.ttf);
  font-display: auto;
  font-weight: 700;
}

html,
body {
  font-size: 0.694vw;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p, a, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.main-title {
  font-family: 'Montserrat';
  font-size: 3.2rem;
  font-weight: 400;
}

.main-container {
  width: 90.47%;
  margin: 0 auto;
}

.main-subtitle {
  font-family: 'Montserrat';
  font-size: 2.6rem;
  font-weight: 400;
}

.main-paragraph {
  font-size: 2rem;
  color: #464646;
}